
#reordenable tr {
    cursor: move;
}

.contenedor-totales {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    text-align: center;
}

.activo {
    color: green;
}

.pasivo {
    color: red;
}

.acordeon-cuenta button {
    color: black !important;
    font-size: 18px;
}

.acordeon-cuenta button > span {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.acordeon-cuenta ul li > span {
    display: flex;
    justify-content: space-between;
}

.acordeon-cuenta .accordion-collapse {
    font-size: 18px;
}